aiofiles
aiohttp
aiosignal
alembic
altair
annotated-types
antlr4-python3-runtime
anyio
asteroid-filterbanks
async-timeout
attrs
audioread
Babel
certifi
cffi
charset-normalizer
click
clldutils
colorama
colorlog
contourpy
csvw
cycler
decorator
dlinfo
docopt
einops
exceptiongroup
fastapi
ffmpy
filelock
fonttools
frozenlist
fsspec
gradio
gradio_client
greenlet
h11
httpcore
httpx
huggingface-hub
HyperPyYAML
idna
importlib-resources
isodate
Jinja2
joblib
jsonschema
jsonschema-specifications
julius
kiwisolver
language-tags
lazy_loader
librosa
lightning
lightning-utilities
llvmlite
lxml
Mako
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
mpmath
msgpack
multidict
networkx
numba
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
omegaconf
optuna
orjson
packaging
pandas
phonemizer
Pillow
platformdirs
pooch
primePy
protobuf
pyannote.audio @ https://github.com/pyannote/pyannote-audio/archive/develop.zip
pyannote.core
pyannote.database
pyannote.metrics
pyannote.pipeline
pycparser
pydantic
pydantic_core
pydub
Pygments
pylatexenc
pyparsing
python-dateutil
python-multipart
pytorch-lightning
pytorch-metric-learning
pytz
PyYAML
rdflib
referencing
regex
requests
rfc3986
rich
rpds-py
ruamel.yaml
ruamel.yaml.clib
safetensors
scikit-learn
scipy
segments
semantic-version
semver
sentencepiece
shellingham
six
sniffio
sortedcontainers
soundfile
soxr
speechbrain
speechtokenizer
SQLAlchemy
starlette
sympy
tabulate
tensorboardX
threadpoolctl
tokenizers
tomlkit
toolz
torch
torch-audiomentations
torch-pitch-shift
torchaudio
torchmetrics
torchvision
tqdm
transformers
triton
typer
typing_extensions
tzdata
uritemplate
urllib3
uvicorn
websockets
yarl
accelerate
wandb
